@font-face {
  font-family: 'Againts';
  src: url('http://www.thejumpevent.com/font/againts.eot'),
  url('http://www.thejumpevent.com/font/againts.woff2') format('woff2'),
  url('http://www.thejumpevent.com/font/againts.woff') format('woff'),
  url('http://www.thejumpevent.com/font/againts.ttf') format('truetype'),
  url('http://www.thejumpevent.com/font/againts.svg#againts') format('svg'),
  url('http://www.thejumpevent.com/font/againts.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  font: normal 15px / 28px "Work Sans", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
  background: #333;
  max-height: 100vh;
  max-width: 100vw;
  cursor: pointer;

}


#container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo, .logoShade {
  font-family: 'Againts';
  letter-spacing: 6px;
  color: #eceff1;
  font-size:10em;
  display: block;
  position: absolute;
}
.logo:after, .logoShade:after{
  content: "!";
  color: #d50000;
  font-size:1.4em;
  font-weight: bold;
}
.logoShade {
  color: #babdbe;
}
.logoShade:after{
  color: #9b0000;
}
.comingSoon{
  color:#eceff1;
  bottom: 10;
  text-align: center;
  width: 100%;
}
